/* 메인 */
main{
    margin-top: 300px;
    width: 1440px;
    height : 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#gohome_button{
    width: 800px;
    height:144px;
    background-color: #00000000;
    border: 1px solid black;
    font-size: 40px;
    cursor: pointer;
}

#gohome_button:hover{
    opacity: 0.6;
}

p{
    font-size: 40px;
}