main{
    width: 1440px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#main_header{
    font-size :40px;
}

#main_content_summary{
    display: flex;
    justify-content: space-around;
}

#main_content_summary div p{
    font-size: 20px;
}

#amount_select{
    width: 150px;
    height: 40px;
}

#Ordered_Info{
    margin-left: 66px;
    display: flex;
    flex-direction: column;
}

.Info_category{
    display: flex;
    align-items: center;
}

.Info_category p{
    font-size : 20px;
    width: 200px;
    height: 50px;
    text-align: center;
}

.Info_category input{
    font-size : 20px;
    width: 500px;
    height: 55px;
}

#Pay_Now_button{
    width: 600px;
    margin-left: 68px;
    cursor: pointer;
}